@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  max-width: 70ch;
  margin: 0.5rem 0;
  text-align: justify;
}

#app {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
  line-height: 1.2;
  color: var(--darkest-grey);
  --shiny-blue: #37afc8;
  --light-blue: #96c3c8;
  --blue: #69a5b4;
  --dark-blue: #5e929e;
  --pink: #c88c82;
  --dark-pink: #b37b72;
  --darkest-grey: #252525;
  --grey: #666;
  --lightest-grey: #f0f0f0;
}
